@import url('https://api.fontshare.com/v2/css?f[]=clash-display@400,500,600,700&display=swap');

.header {
    background: #5264BC;}
  
/* Global styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    margin: auto;
    width: 100%;
    position: relative;
    font-family: 'Clash Display', sans-serif; 
    background-color: #0d1715;
    
}

/* Navbar */
.navbar {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;
    width: 100%;
    height: 80px;
    padding-left: 40px;
    padding-right: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: transparent;
    transition: transform 0.3s ease, opacity 0.3s ease;
    transform: translateY(0); /* Initially show navbar */
    opacity: 1;
}

.navbar.hidden, .logo-topleft.hidden {

    transform: translateY(-100%);
    opacity: 0;
    transition: transform 0.3s ease, opacity 0.3s ease;
    pointer-events: none;
}


.logo-topleft img {
    position: fixed; /* adjust as needed */
    top: 30px;
    left: 20px;
    height: 18px;
    z-index: 1000;
    display: block;
    
}

/* Navigation links */
.nav-links-container {
    display: flex;
    list-style: none;
    padding-left: 0; /* Removes default list padding */
    margin: 0; /* Removes default margin */
}

.nav-link {
    display: flex;
    align-items: center; /* Vertically aligns the links with icons */
    transition: transform 0.3s ease; /* Smooth transition for scaling */
}



.nav-links-container .nav-link .fab {
    font-size: 16px; /* Adjust the font size to make the icons bigger */
    vertical-align: middle; /* Align the icons vertically with the other menu links */
    margin-top: -4px; /* Adjust as needed to fine-tune the alignment */
    color: #741332; /* Set the color */
}

.links {
    text-decoration: none;
    font-family: "Clash Display", sans-serif;
    font-weight: 300;
    color: #ffffff;
    margin: 0 5px;
    padding-right: 20px;
    padding-left: 20px;
    text-transform: capitalize;
    font-size: 16px;
    opacity: 1;
    transition: all 0.3s ease; /* Smooth transition for color and size */
}

.links.active, 
.links:hover {
    opacity: 1;
    color: #fa82ea;
    font-size: 20px;
    font-weight: 300;
    border-bottom-style: inherit;
    text-decoration: underline;
}

.fab-fa-github:hover{
    color: #061446
}



/* Header heading */

.header {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center; /* Center align items vertically */
    justify-content: flex-start;
    position: relative;
    overflow: hidden;
    gap: 50px;
    padding-left: 100px;
    
}

.header-heading {
    position: absolute;
    top: 40px;
    left: 100px;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 20px;
    color: #ffffff;
    text-align: left; /* Center align the heading */
    
}

.sub-heading {
    position: absolute;
    bottom: 40px;
    right: 100px;
    font-size: 120px;
    font-weight: 600;
    line-height: 120%;
    color: #ffffff;
    margin-top: 20px;
    text-align: left; /* Center align the subheading */
    font-family: "Clash Display", sans-serif;
    margin-top: 0;

}


.brand-name {
    font-size: 20px; /* Adjust the font size to your preference */
    font-weight: 300;
    color: #ffffff;
    margin-top: 50px;
    text-align: left; 

}

.Me-home-photo {
    position: absolute; /* Position the image absolutely within the header */
    bottom: 10px; /* Distance from the bottom */
    right: 200px; /* Distance from the right */
    width: 200px; /* Adjust size as needed */
    height: auto; /* Maintain aspect ratio */
}

.Me-home-photo img {
    width: 100%; /* Ensure the image scales within its container */
    height: auto; /* Maintain aspect ratio */
    border-radius: 8px; /* Optional: rounded corners */
}

.brand-name span {
    color: #ffffff;
}



.btn-container {
    text-align: center; /* Center align the button container */
}

.btn {
    align-items: center;
    appearance: none;
    background-color: #3058f6;
    border-radius: 24px;
    border-width: 0;
    box-sizing: border-box;
    color: #ffffff;
    cursor: inherit;
    display: inline-flex;
    font-family: "Clash Display", sans-serif;
    height: 48px;
    justify-content: center;
    line-height: 1;
    list-style: none;
    overflow: hidden;
    padding-left: 16px;
    padding-right: 16px;
    position: relative;
    text-align: left;
    text-decoration: none;
    font-size: 18px;
    z-index: 1000;
  }
  
  
  .btn:hover {
    background-color: #132774;
    color: #ffff;
    
  }
  
  

/* about section */

#about-section{
    position: relative;
    padding: 35px ;
}

.aboutheading{
    text-align: left;
    text-transform: capitalize;
    font-size: 36px;
    font-weight: 500;
    margin-bottom: 100px;
    color: #132774;
    font-family: 'Clash Display', sans-serif;
    padding-top: 70px;
    padding-left: 100px;
}

.about-container{
    width: 100%;
    margin: 50px 0 100px;
    display: flex;
    gap: 100px;
}



.about-img{
    width: 250px;
    height: 250px;
    display: block;
    object-fit: cover;
    margin: 10px auto;
    border-radius: 10px;
    
}
.social-links{
    margin-top: 20px;
    display: flex;
    gap: 20px;
    justify-content: center;
}

.social-img{
    width: 30px;
    height: 30px;
    opacity: .4;
    transition: .5s;
}

.social-img:hover{
    opacity: 1;
}

.info{
    width: 80%;
}

.info p{
    font-size: 1.2rem;
    line-height: 2rem;
    margin: 30px 0;
    color: #132774;
}

html{
    scroll-behavior: smooth;
}

::selection{
    background: #9f526430;
}


.infobuttons {
    margin-top: 20px; /* Add margin to the top of the button container */
}

.infobuttons .btn {
    margin-right: 10px; /* Add margin to the right of each button */
}



/* project section */

#project-section {
    text-align: center; /* Center-align the cards */
    width: 100%;
    
}

.heading {
    text-align: left;
    text-transform: capitalize;
    font-size: 36px;
    font-weight: 500;
    margin-bottom: 100px;
    color: #132774;
    font-family: 'Poppins', sans-serif;
    padding-top: 70px;
    padding-left: 100px;
    
}

.card-container{
    padding-left: 100px;
}

.card {
    display: block; 
    width: 90%; 
    margin-bottom: 20px; /* Add some margin between the rows */
    padding: 50px;
    border-radius: 24px;
    overflow: hidden;
    line-height: 1.6;
    transition: all 0.48s cubic-bezier(0.23, 1, 0.32, 1);
    background-color:#D5A3D9;
    position: relative;
    align-items: flex-start;
    text-align: left;
    font-family: "Poppins", sans-serif;
    cursor:pointer;
    
}

.card2{
    display: block; 
    width: 90%; 
    margin-bottom: 20px; /* Add some margin between the rows */
    padding: 50px;
    border-radius: 24px;
    overflow: hidden;
    line-height: 1.6;
    transition: all 0.48s cubic-bezier(0.23, 1, 0.32, 1);
    background-color:#8BB9FE;
    position: relative;
    align-items: flex-start;
    text-align: left;
    font-family: "Poppins", sans-serif;
    cursor:pointer;
    
}

.card3{
    display: block; 
    width: 90%; 
    margin-bottom: 20px; /* Add some margin between the rows */
    padding: 50px;
    border-radius: 24px;
    overflow: hidden;
    line-height: 1.6;
    transition: all 0.48s cubic-bezier(0.23, 1, 0.32, 1);
    background-color:#8EDBA3;
    position: relative;
    align-items: flex-start;
    text-align: left;
    font-family: "Poppins", sans-serif;
    cursor:pointer;
    
}

.content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
    transition: all 0.48s cubic-bezier(0.23, 1, 0.32, 1);
    text-align: left;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
}


.card .content-heading {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-weight: 700;
    font-size: 60px;
    line-height: 1.3;
    z-index: 1;
    transition: all 0.48s cubic-bezier(0.23, 1, 0.32, 1);
    color: #061446;
    text-align: left;
    font-family: "Poppins", sans-serif;

   
}

.card2 .content-heading {

 display: flex;
flex-direction: column;
align-items: flex-start;
font-weight: 700;
font-size: 60px;
line-height: 1.3;
z-index: 1;
transition: all 0.48s cubic-bezier(0.23, 1, 0.32, 1);
color: #061446;
text-align: left;
font-family: "Poppins", sans-serif;
}

.card3 .content-heading {

display: flex;
flex-direction: column;
align-items: flex-start;
font-weight: 700;
font-size: 60px;
line-height: 1.3;
z-index: 1;
transition: all 0.48s cubic-bezier(0.23, 1, 0.32, 1);
color: #05390D;
text-align: left;
font-family: "Poppins", sans-serif;
   }

.card .content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
    color: #271655;
    transition: all 0.48s cubic-bezier(0.23, 1, 0.32, 1);
    text-align: left;
    font-family: "Poppins", sans-serif;

}

.card .para {
    font-weight: 600;

}

.card2 .content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
    color: #061446;
    transition: all 0.48s cubic-bezier(0.23, 1, 0.32, 1);
    text-align: left;
    font-family: "Poppins", sans-serif;
    
}

.card3 .content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
    color: #05390D;
    transition: all 0.48s cubic-bezier(0.23, 1, 0.32, 1);
    text-align: left;
    font-family: "Poppins", sans-serif;
    
}



.card .text-link{
    font-family: "Poppins", sans-serif;
    z-index: 2;
    font-size: 16px;
    font-weight: 300;
    color:#271655
}

.card2 .text-link{
    font-family: "Poppins", sans-serif;
    z-index: 2;
    font-size: 16px;
    font-weight: 300;
    color:#061446;
}

.card3 .text-link{
    font-family: "Poppins", sans-serif;
    z-index: 2;
    font-size: 16px;
    font-weight: 300;
    color:#05390D
}

.text-link:hover {
    text-decoration: underline;
    z-index: 2;

}

.card .Card-badges{
    color: #271655;
    z-index: 2;
    font-weight: 300;
}

.card2 .Card-badges{
    color: #061446;
    z-index: 2;
    font-weight: 300;
}


.card3 .Card-badges{
    color: #05390D;
    z-index: 2;
    font-weight: 300;
}

.content .para {
    z-index: 1;
    opacity: 0.8;
    font-size: 20px;
    font-weight: 300;
    transition: all 0.48s cubic-bezier(0.23, 1, 0.32, 1);
}

.card::before,
.card::after{
    content: "";
    position: absolute;
    right: -5.2rem;
    top: -5.2rem;
    width: 15rem;
    height: 15rem;
    background: #271655;
    z-index: -1;
    opacity: 0;
    border-radius: 50%;
    transition: all 0.48s cubic-bezier(0.23, 1, 0.32, 1);
}

.card2::before,
.card2::after {
    content: "";
    position: absolute;
    right: -5.2rem;
    top: -5.2rem;
    width: 15rem;
    height: 15rem;
    background: #061446;
    z-index: -1;
    opacity: 0;
    border-radius: 50%;
    transition: all 0.48s cubic-bezier(0.23, 1, 0.32, 1);
}

.card3::before,
.card3::after {
    content: "";
    position: absolute;
    right: -5.2rem;
    top: -5.2rem;
    width: 15rem;
    height: 15rem;
    background: #05390D;
    z-index: -1;
    opacity: 0;
    border-radius: 50%;
    transition: all 0.48s cubic-bezier(0.23, 1, 0.32, 1);
}


.card:hover::before,
.card2:hover::before,
.card3:hover::before {
    scale: 7;
    opacity: 1;
}

.card:hover::after,
.card2:hover::after,
.card3:hover::after {
    scale: 12;
    opacity: 1;
}

.card:hover .content .content-heading {
    color: #E6B4EB;
}

.card:hover .content .para{
    color: #E6B4EB;
}

.card:hover .content .text-link{
    color: #E6B4EB;
}

.card:hover .content .Card-badges{
    color: #E6B4EB;
}


.card2:hover .content .content-heading {
    color: #8BB9FE;
}

.card2:hover .content .para {
    color: #8BB9FE;
}

.card2:hover .content .text-link {
    color: #8BB9FE;
}

.card2:hover .content .Card-badges {
    color: #8BB9FE;
}

.card3:hover .content .content-heading {
    color: #8EDBA3;
}

.card3:hover .content .para {
    color: #8EDBA3;
}

.card3:hover .content .text-link {
    color: #8EDBA3;
}

.card3:hover .content .Card-badges {
    color: #8EDBA3;
}



.card:hover,
.card2:hover,
.card3:hover {
    scale: 1.05;
}

 

/* contact section */

#contact-section{
    margin: 100px 0;
    width: 100%;
    
}

.contactheading{
    text-align: left;
    text-transform: capitalize;
    font-size: 80px;
    font-weight: 700;
    margin-bottom: 20px;
    margin-top: 0px;
    color: #061446;
    font-family: 'Poppins', sans-serif;
    padding-left: 100px;
}


.sub-headingcontact{
    text-align: left;
    text-transform: capitalize;
    font-size: 48px;
    font-weight: 500;
    margin-bottom: 50px;
    margin-top: 0px;
    color: #132774;
    font-family: 'Poppins', sans-serif;
    padding-left: 100px;
}


.social-icons {
    display: flex;
    gap: 60px;
    padding-left: 100px;
}

.icon {
    color: #061446;
    font-size: 100px;
    text-decoration: none;
    transition: color 0.3s ease;
}

.icon:hover {
    color: #3058f6;
}

/* Specific icon styles if needed */
.linkedin:hover {
    color: #3058f6; /* LinkedIn blue color */
}

.github:hover {
    color: #3058f6; /* GitHub black color */
}


.email:hover {
    color: #3058f6; /* Email red color */
}


.footer { 
    bottom: 0; 
    left: 0; 
    z-index: 10;
    padding-left: 100px;
}